CREATE TABLE Users (
    id INT AUTO_INCREMENT PRIMARY KEY,
    username VARCHAR(50) NOT NULL UNIQUE,
    email VARCHAR(100) NOT NULL UNIQUE,
    password VARCHAR(255) NOT NULL,
    role ENUM('user', 'admin') NOT NULL DEFAULT 'user',
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

CREATE TABLE Novels (
    id INT PRIMARY KEY,
    title VARCHAR(255) NOT NULL,
    author VARCHAR(100) NOT NULL,
    views VARCHAR(20),
    rating DECIMAL(3,1),
    coverUrl VARCHAR(255),
    description TEXT,
    chapterCount INT
);

CREATE TABLE Genres (
    id INT AUTO_INCREMENT PRIMARY KEY,
    name VARCHAR(50) NOT NULL UNIQUE
);

CREATE TABLE NovelGenres (
    novel_id INT,
    genre_id INT,
    PRIMARY KEY (novel_id, genre_id),
    FOREIGN KEY (novel_id) REFERENCES Novels(id),
    FOREIGN KEY (genre_id) REFERENCES Genres(id)
);

CREATE TABLE Chapters (
    id INT AUTO_INCREMENT PRIMARY KEY,
    novel_id INT,
    name VARCHAR(255) NOT NULL,
    date VARCHAR(50),
    FOREIGN KEY (novel_id) REFERENCES Novels(id)
);

CREATE TABLE Bookmarks (
    user_id INT,
    novel_id INT,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    PRIMARY KEY (user_id, novel_id),
    FOREIGN KEY (user_id) REFERENCES Users(id),
    FOREIGN KEY (novel_id) REFERENCES Novels(id)
);

CREATE TABLE Logs (
    id INT AUTO_INCREMENT PRIMARY KEY,
    user_id INT,
    action VARCHAR(255) NOT NULL,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    FOREIGN KEY (user_id) REFERENCES Users(id)
);

-- Insert 3 admin accounts (password: admin123) and 1 user (password: user123)
-- Thay các hash dưới đây bằng hash thực từ script bcrypt
INSERT INTO Users (username, email, password, role) VALUES
('admin1', 'admin1@example.com', '$2b$10$aBcDeFgHiJkLmNoPqRsTuVwXyZ1234567890AbCdEfGhIjKlMn', 'admin'),
('admin2', 'admin2@example.com', '$2b$10$aBcDeFgHiJkLmNoPqRsTuVwXyZ1234567890AbCdEfGhIjKlMn', 'admin'),
('admin3', 'admin3@example.com', '$2b$10$aBcDeFgHiJkLmNoPqRsTuVwXyZ1234567890AbCdEfGhIjKlMn', 'admin'),
('user1', 'user1@example.com', '$2b$10$zYxWvUtSrQpOnMlKjIhGfEdCbA9876543210ZyXwVuTsRqPoNm', 'user');

-- Insert sample data for Novels, Genres, NovelGenres, Chapters

INSERT INTO Genres (name) VALUES
('Fantasy'), ('Adventure'), ('Mystery'), ('Sci-Fi'), ('Romance'), ('Drama'), ('Horror'), ('Thriller'), ('Supernatural'), ('Epic Fantasy'), ('Action'), ('War'), ('Dark Fantasy'), ('Magic'), ('Coming of Age'), ('Historical'), ('Psychological'), ('Crime'), ('Urban Fantasy');

INSERT INTO NovelGenres (novel_id, genre_id) VALUES
(1, 1), (1, 2), (1, 3),
(2, 4), (2, 5), (2, 6),
(3, 7), (3, 8), (3, 9),
(4, 10), (4, 11), (4, 12),
(5, 13), (5, 14), (5, 15),
(6, 2), (6, 16), (6, 5),
(7, 3), (7, 17), (7, 18),
(8, 19), (8, 5), (8, 3);

